@import "bootstrap";

.headerbleu{
    background-color: #0074C7;
    height: 70px;
}

.category {
  background-color: rgba(0, 116, 199, 0.15);
  padding: 20px 30px;
  border-radius: 10px;
  margin: 0px auto 40px;
  width: 90%;
}
.btn-artisan-card {
  text-decoration: none;
  color: white;
  display: inline-block;
}