@import "bootstrap";

.btnartisansid {
    background-color: #82B864;
    box-shadow: 0 4px 10px rgba(0,0,0,0);
    border: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    color: white
};
.btnartisansid:hover {
  background-color: #6fa653;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.séparateur {
  display: flex;
  align-items: center;
  gap: 15px;

  &::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: #999;
    opacity: 0.5;
  }
}

.card.card-bas {
    background-color: #F1F8FC;
};

