@import "bootstrap";


.btnartisansid {
    background-color: #82B864;
    box-shadow: 0 4px 10px rgba(0,0,0,0);
    border: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    color: white
};
