.footer-custom {
  background-color: #384050;
  margin-top: auto;
  width: 100%;
  padding: 20px 40px;
}

.pagesfooter, .contactfooter {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.h-footer, .p-footer {
    color: white;
}