@import "bootstrap/dist/css/bootstrap.min.css";

.navbar-custom {
    background-color: #F1F8FC;
};

.navbar-custom .form-control {
    border: 2px solid #0074C7;
    width: 200px;
    height: 25px;
    border-radius: 8px
};

.navbar-font .nav-link {
  font-size: 1.2rem;
  color: black;
}

.searchbar {
    margin-right: 100px;
}

@media (min-width: 992px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-logo {
  height: 100px;
}
}

@media (max-width: 991px) {

  .navbar-collapse {
    background: #F1F8FC;
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
  }

  .navbar-nav {
    gap: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
  .navbar-logo {
  height: 100px;
}

}

